/*
   New Perspectives on HTML and CSS
   Tutorial 4
   Case Problem 3

   Trail Map Style Sheet
   Author: Juozas Kripas
   Date:   2/21/2016

   Filename:         map.css
   Supporting Files: 


setting major elements as blocks
*/
nav, section, figure, figcaption{
    display: block;
}
#map time{
    display: inline;
}
* {
    margin: 0;
    padding: 0;
}
body{
    font-family: Verdana, Geneva, sans-serif;
}

/*#page element rules*/
#page{
    background-color: rgb(255,255,128);
    background-image: url(bluebar.png);
    background-repeat: repeat-y;
    background-position: left;
    border: 15px ridge rgb(70,76,222);
    border-radius: 50px;
    width: 900px;
    height: 750px;
    text-align: center;
    margin-top: 10px auto 200px auto;
        }
/*Vertical Navigation List RUles*/
.vertical{
    float: left;
    width: 230px;
    
}
.vertical ul li{
    list-style-type: none;
    margin: 25px 20px 25px 20px;
}
.vertical a{
    color: white;
    text-decoration: none;
}
.vertical a:hover{
    color: yellow;
    
}

/*Description of the map #summary rules*/
#summary{
    float: left;
    margin-left: 30px;
    width: 600px;
}
#summary h1{
    color: rgb(70,76,222);
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 5px;
    margin: 20px;
}
#summary p{
    margin: 10px;
}