/*
   New Perspectives on HTML and CSS
   Tutorial 4
   Case Problem 3

   Trail Map Style Sheet
   Author: Juozas Kripas
   Date:   2/21/2016

   Filename:         map.css
   Supporting Files: 


setting major elements as blocks
*/
nav, section, figure, figcaption{
    display: block;
}
#map time{
    display: inline;
}
* {
    margin: 0;
    padding: 0;
}
body{
    font-family: Verdana, Geneva, sans-serif;
}

/*#page element rules*/
#page{
    background-color: rgb(255,255,128);
    background-image: url(bluebar.png);
    background-repeat: repeat-y;
    background-position: left;
    border: 15px ridge rgb(70,76,222);
    border-radius: 50px;
    width: 900px;
    height: 750px;
    text-align: center;
    margin-top: 10px auto 200px auto;
    
    
}