/*
   New Perspectives on HTML and CSS
   Tutorial 4
   Case Problem 3

   Trail Map Style Sheet
   Author: Juozas Kripas
   Date:   2/21/2016

   Filename:         map.css
   Supporting Files: 

*/

